
	<h1 id="main_header"> {{type}} Request Received on Howard Chen's Main Page</h1>
	<h2> {{name}} has a count of {{count}}. The limit is {{limit}}. </h2>
	
	<h3>Open Weather Map Call</h3>
	<div>
		<p> {{city}} </p>
		<p>{{temp}} </p>
		<p>{{humidity}} </p>
	
	</div>
	
	<div>
		{{bin}}
	</div>
	
	<form action="/" method="post">
	<input type ="submit" name="DELETE SESSION" value="destroy session">
	</form>
	
	<form action="/" method="post">
	<input type ="submit" name="RESET COUNT" value="reset count">
	</form>
	

	
	
	
	
	
	{{{script}}}